@{
    AppUser user = (AppUser)HttpContext.Current.Session["member"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap  -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/OuterTools/css/style.css" />
    <link rel="stylesheet" href="~/OuterTools/css/index.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a href="~/Home/Index" class="js-scroll-trigger"> <img src="~/OuterTools/img/teknoroma-logo.png" id="logo"><h1 class="navbar-brand">teknoroma</h1></a>
            <label class="navbar-toggler navbar-toggler-right"
                   type="button"
                   data-toggle="collapse"
                   data-target="#navbarResponsive"
                   aria-controls="navbarResponsive"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                <input type="checkbox" id="menu-toggle" />
                <label class="hamburger-menu" for="menu-toggle">
                    <span></span>
                </label>
            </label>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="@Url.Action("Contact","Home")" class="text-secondary nav-link js-scroll-trigger">İletişim</a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("ShoppingList","Shopping")" class="text-secondary nav-link js-scroll-trigger">E-Mağaza</a>
                    </li>

                    <!-- user login dropdown start-->
                    @if (Session["member"] != null)
                    {
                        //todo: sepet butonunu düzenle
                        <li class="nav-item">
                            <a href="@Url.Action("CartPage","Shopping")" class="bt bt-register nav-link cart-btn js-scroll-trigger">Sepetim</a>
                        </li>

                        <li class="dropdown mx-2">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <img alt="" src="~/OuterTools/img/avatar1_small.jpg" style="border-radius:50%">
                                <span class="username">@user.UserName</span>
                                <b class="caret"></b>
                                @*<i class="fas fa-chevron-down"></i>*@
                            </a>
                            <ul class="dropdown-menu extended logout">
                                <div class="log-arrow-up"></div>
                                <li><a href="#">Profil</a></li>
                                <li><a href="#">Siparişlerim</a></li>
                                <li><a href="@Url.Action("LogOut","Login")"><i class="icon-key"></i>Çıkış Yap</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("Login","Login")" class="text-secondary nav-link js-scroll-trigger">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("RegisterNow","Register")" class="bt bt-md nav-link sign-btn js-scroll-trigger">Kayıt Ol</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>


    @RenderBody()

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-logo">
            <a href="~/Home/Index" class="nav-link text-dark">
                <h5 class="footer-text">teknoroma</h5>
            </a>
        </div>
        <div class="footer-wrapper">
            <span class="footer-copyright">Copyright &copy; 2021 Teknoroma Inc. Tüm hakları saklıdır.</span>
            <span class="footer-contact">
                <ul class="footer-social">
                    <li>
                        <a href="https://github.com/andac-e" class="text-secondary" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/andacerdogmus" class="text-secondary" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/anda%C3%A7-erdo%C4%9Fmu%C5%9F-155053156/" class="text-secondary" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </span>
            <span class="footer-creator">
                created by
                <a target="_blank" href="https://github.com/andac-e">Andaç Erdoğmuş</a>
            </span>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNav");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });

    </script>

</body>
</html>
